/*
    dotsolutions kleuren
    groen   - #54b721 - donker  - #489b1d
    blauw   - #3fb2ab
    paars   - #a278d1
    geel    - #f6cd29
    oranje  - #f9841b - #f07c0d
*/

/* 
    graph css 
    http://codepen.io/anon/pen/zrNydj 100%
    http://codepen.io/anon/pen/qbRJjd 75%
    http://codepen.io/anon/pen/BjpGKG 25%
    http://codepen.io/anon/pen/qbRLPL 5%
*/

@media (max-width: 767px) {
    .container {
        width: 100% !important;
    }

    .jumbotron {
        font-size: 1.6em;
    }

    .btn {
        font-size: 1em !important;
    }

    .help-block {
        font-size: .6em;
    }

    #MainContent_TestsCheckBoxList1,
    #MainContent_TestsCheckBoxList2,
    #MainContent_TestsCheckBoxList3 {
        margin-left: 10%;
    }

    .table {
        font-size: 0.5em;
    }

    .rating-input {
        font-size: 1em;
    }

    #MainContent_sizeref {
        height: 350px;
    }

        #MainContent_sizeref h4 {
            font-size: 1.3em;
            font-weight: bold;
        }

    .laptopcontainer {
        width: 200px;
        height: 150px;
        background-image: url("http://i.imgur.com/AzbZXWr.png");
        padding: 8px 28px 59px 28px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }

    .tabletcontainer {
        width: 310px;
        height: 250px;
        background-image: url("http://i.imgur.com/BTpnDci.png");
        padding: 24px 25px 35px 28px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mobilecontainer {
        width: 144px;
        height: 200px;
        background-image: url("http://i.imgur.com/BDKytvF.png");
        padding: 31px 48px 36px 7px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #screenshotcontainer > div {
        left: 15%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100% !important;
    }

    .jumbotron {
        font-size: 1em;
    }

    .btn {
        font-size: 1em !important;
    }

    #MainContent_TestsCheckBoxList1,
    #MainContent_TestsCheckBoxList2,
    #MainContent_TestsCheckBoxList3 {
        margin-left: 10%;
    }

    .rating-input {
        font-size: 2em;
    }

    #MainContent_sizeref {
        height: 300px;
    }

    .laptopcontainer {
        width: 330px;
        height: 250px;
        background-image: url("http://i.imgur.com/AzbZXWr.png");
        padding: 15px 47px 100px 47px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }

    .tabletcontainer {
        width: 450px;
        height: 260px;
        background-image: url("http://i.imgur.com/BTpnDci.png");
        padding: 26px 141px 26px 31px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mobilecontainer {
        width: 144px;
        height: 200px;
        background-image: url("http://i.imgur.com/BDKytvF.png");
        padding: 31px 48px 36px 7px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #screenshotcontainer > div {
        left: 33%;
    }

    .manualTest#prof, .manualTest#userX {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1000px !important;
    }

    .btn {
        font-size: 1em !important;
    }

    #MainContent_CreatePdfBtn.btn, #MainContent_CreateHtmlBtn.btn {
        font-size: 1.2em !important;
    }

    .jumbotron {
        font-size: 1.1em;
    }
}

@media (min-width: 1900px) {
    .container {
        width: 1100px !important;
    }
}

html, body {
    /*height: 100%;*/
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif !important;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body {
    background-color: #f5f5f5 !important;
    height: 100%;
    font-size: 1em;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    color: white;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*padding: 0;*/
}

h1 span {
    color: #54b721;
}

.results {
    overflow-x: auto;
}

.panel-custom {
    padding: 25px;
}

    .panel-custom .panel-heading span:not(.ratingCircle) {
        font-size: 1.3em;
        border-bottom: 1px solid #BEBDBD;
    }

.word-break {
    word-break: break-word;
}

.jumbotron {
    margin-top: 20px;
    background-color: #fff !important;
}

    .jumbotron h1 {
        font-weight: bold;
    }

.btn {
    margin-bottom: 5px !important;
    font-weight: bold !important;
}

#testsjumbotron .btn-custom {
    width: 100%;
}

.btn-custom {
    background-color: #54b721;
    color: white;
}

    .btn-custom.focus, .btn-custom:focus, .btn-custom:hover {
        background-color: #479b1d;
        color: white !important;
        transition: all .2s linear;
    }

#ToTopBtn.btn-custom {
    border: solid 1px #f9841b;
    background-color: #f9841b;
}

    #ToTopBtn.btn-custom.focus, #ToTopBtn.btn-custom:focus, #ToTopBtn.btn-custom:hover {
        border: solid 1px #ecf0f1;
        background-color: #f9841b;
        color: white !important;
        transition: all .2s linear;
    }

.navbar-custom {
    background-color: #FFF;
    box-shadow: 0px 0px 15px #888888;
}

    .navbar-custom a {
        color: #000;
    }

        .navbar-custom a:hover, .navbar-custom a:active,
        .navbar-custom a:visited, .navbar-custom a:link {
            color: #000;
        }

        .navbar-custom a:hover {
            /*opacity: 0.5;*/
            background-color: #f5f5f5;
            transition: all .1s linear;
        }

        .navbar-custom a span {
            color: #54b721;
        }

.btn-white {
    background-color: #fff;
    color: #000;
    border-color: #f07c0d !important;
    width: 100%;
}

.btn.btn-white.focus, .btn.btn-white:focus, .btn.btn-white:hover {
    background-color: #f07c0d;
    color: #fff;
    transition: all .1s linear;
}

.largetext {
    font-size: 2em;
}

.emphasis {
    font-weight: 700;
    font-size: 1.5em;
}

table:not(#MainContent_TestsCheckBoxList1):not(#MainContent_TestsCheckBoxList2):not(#MainContent_TestsCheckBoxList3) tr:nth-child(2n+1) {
    background-color: #F5F5F5;
}

.tableImg {
    max-width: 50px;
    max-height: 50px;
}

.messageIcon {
    float: left;
    width: 5%;
}

.messageText {
    float: left;
    width: 95%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all {
    .page-break {
        display: none;
    }
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }
}
/* Start Default Page CSS */
.detailedTestCheckBox, .urlTextBoxRow .input-group, .urlTextBoxRow .help-block,
#MainContent_StartScanBtn, #ShowCheckboxes, #CheckAllCheckboxes {
    margin-top: 10px;
}

#checkboxHolder {
    /*background-color: rgba(84,183,33,0.8);*/
    border-radius: 15px;
}

.checkboxlistrow {
    padding-bottom: 10px;
}

.urlTextBoxRow .input-group {
    border-radius: 5px;
}


#testsjumbotron {
    margin-top: 6%;
}

#MainContent_UrlTextBox {
    height: 50px;
    font-size: 1.5em;
}

#MainContent_StartScanBtn,
#MainContent_UrlTextBox {
    max-width: 100%;
    width: 100%;
}

.detailedTestCheckBox label {
    font-weight: normal;
}

#checkboxHolder {
    /*
        TODO: Weghalen in productie. Verberg tests -> Selecteer tests op default.aspx.
        display: none;
    */
    display: block;
}

    #checkboxHolder td input,
    #checkboxHolder td label {
        cursor: pointer;
    }

    #checkboxHolder label {
        font-weight: normal;
    }

    #checkboxHolder table tr {
        margin-top: 15px;
        display: block;
    }

        #checkboxHolder table tr td label, .detailedTestCheckBox label {
            margin-left: 5px;
        }
/* End Default Page CSS */

/* Start Geautomatiseerde-Test CSS*/

/* Start Loading div on Geautomatiseerde-Test.aspx */

.progress {
    position: relative;
}

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }

#overlay {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    right: 0;
    z-index: 999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#progressbar {
    width: 100%;
    top: 30%;
    right: 0;
    left: 0;
}

#loadingGIF, #testProgress {
    position: absolute;
}

#loadingGIF {
    left: 49%;
}

#testProgress {
    top: 40%;
    width: 100%;
}

#performedTestshidden {
    display: none;
}

#testsInProgress, #testsComplete {
    list-style-type: none;
}

/* End Loading div on Geautomatiseerde-Test.aspx */

.resultWell {
    width: 48%;
    float: left;
}

.resultBox {
    width: 48%;
    float: left;
    padding: 15px;
}

.resultBox-12 {
    width: 100%;
    float: left;
    padding: 15px;
}

.resultDivider {
    width: 4%;
    float: left;
    min-height: 1px;
    position: relative;
}

.fa-html5 {
    color: #e54d26;
}

.fa-times, .fa-times-circle {
    color: red;
}

.fa-info-circle {
    color: lightblue;
}

.fa-check {
    color: green;
}

.fa-check-circle {
    color: green;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-linkedin-square {
    color: #1884bc;
}

.fa-facebook-official, .fa-thumbs-o-up {
    color: #4862a3;
}

.fa-google-plus-square {
    color: #db4437;
}

.coverpicture {
    background-size: cover;
    background-position: center;
    /*height: 125px;;*/
    height: 250px;
    width: 50%;
    float: left;
    display: block;
}

.socialResults {
    width: 50%;
    float: left;
}

.socialResultBox-3 {
    padding: 20px 30px;
}

    .socialResultBox-3 i {
        width: 13%;
        float: left;
    }

    .socialResultBox-3 span {
        width: 87%;
        float: left;
    }

.socialResultBox-2 {
    padding: 40px 30px;
}

    .socialResultBox-2 i {
        width: 13%;
        float: left;
    }

    .socialResultBox-2 span {
        width: 87%;
        float: left;
    }

#MainContent_manualResultHidden h3 {
    font-weight: bold;
}

#MainContent_manualResultHidden h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#MainContent_manualResultHidden .row {
    margin-top: 10px;
}

.manualTest {
    left: 2%;
    position: relative;
}

    .manualTest i {
        color: #f6cd29;
    }

    .manualTest#prof, .manualTest#userX {
        float: left;
    }

    .manualTest#vormComm {
        width: 100%;
        float: left;
    }

.ratingList {
    display: none;
    width: 30%;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

    .ratingList li span {
        margin-left: -40px;
    }

    .ratingList li a {
        cursor: pointer;
        font-size: 1.3em;
    }

        .ratingList li a:hover, .ratingList li a.focus, .ratingList li a:focus {
            text-decoration: none;
        }

.displayRating {
    margin-left: 5px;
    cursor: pointer;
}

#automatedRatingList {
    display: none;
}

    #automatedRatingList li {
        list-style: none;
    }

    #automatedRatingList > #critlistcontainer > li {
        margin-bottom: 10px;
    }

#MainContent_TestedSitesList li {
    margin-bottom: 5px;
    list-style: none;
    margin-left: -25px;
    font-size: 1.1em;
}

#back-to-top {
    position: fixed;
    top: 99%;
    margin-top: -50px;
    right: 1%;
}

#MainContent_PerformedTestsName li a {
    cursor: pointer;
}

#MainContent_CreateHtmlBtn {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

#MainContent_CreatePdfBtn {
    display: none;
    margin-right: 5px;
    margin-top: 2px;
    float: left;
}

    #MainContent_CreatePdfBtn.btn-custom, #MainContent_CreateHtmlBtn.btn-custom {
        border: solid 1px #f9841b;
        background-color: #f9841b;
    }

        #MainContent_CreatePdfBtn.btn-custom.focus, #MainContent_CreatePdfBtn.btn-custom:focus, #MainContent_CreatePdfBtn.btn-custom:hover,
        #MainContent_CreateHtmlBtn.btn-custom.focus, #MainContent_CreateHtmlBtn.btn-custom:focus, #MainContent_CreateHtmlBtn.btn-custom:hover {
            border: solid 1px #ecf0f1;
            background-color: #f9841b;
            color: white !important;
            transition: all .2s linear;
        }

#screenshotcontainer {
    height: 280px;
}

    #screenshotcontainer > div {
        position: absolute;
    }

#MainContent_mobileImg {
    position: absolute;
    left: 45%;
    top: 100px;
}
/* End Geautomatiseerde-Test CSS*/

/* Start Handmatige-Test CSS*/

.fullTextArea {
    max-width: 100%;
    width: 100%;
    resize: none;
}

.rating-input i {
    cursor: pointer;
    padding-right: 2px;
    color: #f6cd29;
}

#MainContent_websiteImg {
    text-align: center;
}

#opmerkingen span {
    padding-left: 0;
}

#verplicht {
    padding-left: 15px;
}
/* End Handmatige-Test CSS*/

.lowScore {
    background-color: red;
}

.mediocreScore {
    background-color: orangered;
}

.excellentScore {
    background-color: green;
}

.score-0 {
    background-color: #FF0000;
}

.score-1 {
    background-color: #FF3200;
}

.score-2 {
    background-color: #FF6400;
}

.score-3 {
    background-color: #FF9600;
}

.score-4 {
    background-color: #FFC800;
}

.score-5 {
    background-color: #FFFF00;
}

.score-6 {
    background-color: #D4FF00;
}

.score-7 {
    background-color: #AAFF00;
}

.score-8 {
    background-color: #80FF00;
}

.score-9 {
    background-color: #55FF00;
}

.score-10 {
    background-color: #00FF00;
}



.infoScore {
    background-color: #892978;
}

.emptyScore {
    background-color: #0185AA;
}

.ratingCircle {
    display: inline-block;
    font-size: 2em;
    color: white;
    border-radius: 200px;
    margin-right: 5px;
    padding: 5px;
    width: 50px;
    max-width: 60px;
    height: 50px;
    text-align: center;
}

.ratingSquare {
    width: 35px;
    height: 35px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.percentageContainer > div:first-child {
    height: 200px;
}

.percentageContainer > div:nth-child(3) {
    height: 200px;
    padding-top: 50px;
}

.pieContainer {
    height: 100px;
    margin-left: 35%;
}

.pieBackground {
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.pieInside {
    background-color: #f5f5f5;
    position: absolute;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
    color: #000;
}

    .pieInside span {
        position: absolute;
        top: 20px;
        font-size: 30px;
    }

.pie {
    position: absolute;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    clip: rect(0px, 50px, 100px, 0px);
    width: 100px;
    height: 100px;
}

.hold {
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    clip: rect(0px, 100px, 100px, 50px);
}


.googleResult_title, .googleResult_url, .googleResult_desc {
    margin: 0 0 0 0;
    cursor: default;
}

.googleResult_title {
    color: #1a0dab;
    text-decoration: underline;
    font-size: 1.2em;
}

.googleResult_url {
    color: #006621;
    font-size: 1em;
}

.googleResult_desc {
    color: #545454;
    font-size: 1em;
}

.title {
    font-weight: bold;
    font-size: 2.3em;
    margin-left: 10px;
}

.subTitle {
    font-size: 1.5em;
    margin-left: 10px;
}
