/*Overriding container width since it disagrees with my layout*/
@media (max-width: 767px) {
    .container {
        width: 100% !important;
    }

    .jumbotron {
        font-size: 1.6em;
    }

    .btn {
        font-size: 1em !important;
    }

    .help-block {
        font-size: .6em;
    }

    #MainContent_TestsCheckBoxList1,
    #MainContent_TestsCheckBoxList2,
    #MainContent_TestsCheckBoxList3 {
        margin-left: 10%;
    }

    .table {
        font-size: 0.5em;
    }

    .rating-input {
        cursor: pointer;
        font-size: 1.5em;
    }


    .computercontainer {
        width: 250px;
        height: 150px;
        background-image: url("/Content/images/laptop_template.png");
        padding: 10px 35px 37px 35px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mobilecontainer {
        width: 150px;
        height: 250px;
        background-image: url("/Content/images/phone_template.png");
        padding: 39px 31px 45px 9px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100% !important;
    }

    .jumbotron {
        font-size: 1em;
    }

    .btn {
        font-size: 1em !important;
    }

    #MainContent_TestsCheckBoxList1,
    #MainContent_TestsCheckBoxList2,
    #MainContent_TestsCheckBoxList3 {
        margin-left: 30%;
    }

    .rating-input {
        cursor: pointer;
        font-size: 2em;
    }



    .computercontainer {
        background-image: url("/Content/images/laptop_template.png");
        padding: 18px 60px 50px 60px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mobilecontainer {
        background-image: url("/Content/images/phone_template.png");
        padding: 34px 38px 39px 8px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1000px !important;
    }

    .btn {
        font-size: 1em !important;
    }

    #MainContent_CreatePdfBtn {
        font-size: 1.2em !important;
    }

    .jumbotron {
        font-size: 1.1em;
    }
}

@media (min-width: 1900px) {
    .container {
        width: 1100px !important;
    }
}

html {
    /*height: 100%;*/
    font-size: 62.5%;
    font-family: 'Courier New' !important;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body {
    background: url("/Content/images/bckgnd_grn.jpg") fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-size: 1em;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    color: white;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*padding: 0;*/
}

.results {
    overflow-x: auto;
}

.jumbotron {
    margin-top: 20px;
}

.btn {
    margin-bottom: 5px !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-custom {
    border-color: #85CC76 !important;
}

    .panel-custom .panel-heading {
        background-image: linear-gradient(to bottom,#85CC76 0,#145007 100%);
        color: white;
        background-color: #145007;
        background-repeat: repeat-x;
        border-color: #85CC76;
    }

/* Start Default Page CSS */
.checkboxlistrow,
.urlTextBoxRow {
    padding-bottom: 10px;
}

#testsjumbotron {
    margin-top: 10%;
}

#MainContent_StartScanBtn,
#MainContent_UrlTextBox {
    max-width: 100%;
    width: 100%;
}

#checkboxHolder {
    display: block;
}

    #checkboxHolder td input,
    #checkboxHolder td label {
        cursor: pointer;
    }

/* End Default Page CSS */

/* Start Geautomatiseerde-Test CSS*/

/* Start Loading div on Geautomatiseerde-Test.aspx */

.progress {
    position: relative;
}

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }

#overlay {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    right: 0;
    z-index: 999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#progressbar {
    width: 100%;
    top: 30%;
    right: 0;
    left: 0;
}

#loadingGIF, #testProgress {
    position: absolute;
}

#loadingGIF {
    left: 49%;
}

#testProgress {
    top: 40%;
    width: 100%;
}

#performedTestshidden {
    display: none;
}

#testsInProgress, #testsComplete {
    list-style-type: none;
}

/* End Loading div on Geautomatiseerde-Test.aspx */

.resultWell {
    width: 48%;
    float: left;
}

.resultDivider {
    width: 4%;
    float: left;
    min-height: 1px;
    position: relative;
}

.manualTest {
    left: 2%;
    position: relative;
}

.ratingList {
    display: none;
    width: 30%;
    margin-left: 50px;
}

    .ratingList li span {
        margin-left: -45px;
    }

    .ratingList li a {
        cursor: pointer;
    }

.displayRating {
    margin-left: 5px;
    cursor: pointer;
}

#automatedRatingList {
    display: none;
}

    #automatedRatingList li {
        list-style: none;
    }


#back-to-top {
    position: fixed;
    top: 99%;
    margin-top: -50px;
    right: 1%;
}

#MainContent_PerformedTestsName li a {
    cursor: pointer;
}

#MainContent_CreatePdfBtn {
    display: none;
}


/* End Geautomatiseerde-Test CSS*/

/* Start Handmatige-Test CSS*/

.fullTextArea {
    max-width: 100%;
    width: 100%;
    resize: none;
}

.rating-input i {
    padding-right: 2px;
}

#MainContent_websiteImg {
    text-align: center;
}
/* End Handmatige-Test CSS*/

.lowScore {
    background-image: linear-gradient(to bottom,red 0,black 175%);
    background-color: red;
}

.mediocreScore {
    background-image: linear-gradient(to bottom,orangered 0,black 175%);
    background-color: orangered;
}

.excellentScore {
    background-image: linear-gradient(to bottom,green 0,black 175%);
    background-color: green;
}

.ratingCircle {
    display: inline-block;
    font-size: 2em;
    color: white;
    border-radius: 200px;
    margin-right: 5px;
    padding: 5px;
    width: 50px;
    max-width: 60px;
    height: 50px;
    text-align: center;
}

.ratingSquare {
    display: inline-block;
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

.googleResult_title, .googleResult_url, .googleResult_desc {
    margin: 0 0 0 0;
    cursor: default;
}

.googleResult_title {
    color: #1a0dab;
    text-decoration: underline;
    font-size: 1.3em;
}

.googleResult_url {
    color: #006621;
    font-size: 1em;
}

.googleResult_desc {
    color: #545454;
    font-size: 1em;
}
