/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    margin-top: 20px;
}

.body-content {
    padding: 0;
}

.btn {
    margin-bottom: 5px;
}

#testsjumbotron {
    margin-top: 10%;
}

#MainContent_TestsCheckBoxList1,
#MainContent_TestsCheckBoxList2,
#MainContent_TestsCheckBoxList3 {
    margin-left: 30%;
}

#MainContent_StartScanBtn,
#MainContent_UrlTextBox {
    max-width: 100%;
    width: 100%;
}

.checkboxlistrow,
.urlTextBoxRow {
    padding-bottom: 10px;
}

#CheckboxHolder {
    display: block;
}


@media screen and (min-width: 1080px) {
    .jumbotron {
        font-size: 16px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1079px) {
    .jumbotron {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    .jumbotron {
        font-size: 10px;
    }
}

/**
 * Loading div on ProcessTest
 */
#overlay {
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 50%;
    opacity: 0.7;
    right: 0;
}

#progressbar {
    width: 100%;
    top: 30%;
    right: 0;
    left: 0;
}

#loadingGIF, #TestProgress {
    position: absolute;
}

#loadingGIF {
    top: 20%;
    left: 49%;
}

#TestProgress {
    top: 40%;
    width: 100%;
}

#performedTestshidden {
    display: none;
}

#TestsInProgress, #TestsComplete {
    list-style-type: none;
}

.progress {
    position: relative;
}

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }
/**
 * Back to top button
 */
#back-to-top {
    position: fixed;
    bottom: 1%;
    top: 90%;
    right: 1%;
}

    #back-to-top img {
        cursor: pointer;
    }

/*Overriding container width since it disagrees with my layout*/
@media (min-width:900px) and (max-width:991px) {
    .container {
        width: 900px !important;
    }
}
@media (min-width:1100px) and (max-width:1200px) {
    .container {
        width: 1100px !important;
    }
}
@media (min-width:1000px) and (max-width:1100px) {
    .container {
        width: 1000px !important;
    }
}
@media (min-width:900px) and (max-width:1000px) {
    .container {
        width: 900px !important;
    }
}